.bookmark-btn {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}

.ytp-right-controls {
	display: flex !important;
	align-items: center !important;
}

.left-controls-part-elem {
	font-size: 13px;
	display: flex;
	align-items: center;
	gap: 5px;
	cursor: pointer;
}
